html {
  background-image: linear-gradient(45deg, #ffccff, #ab00b7, #7f22ff);
  background-size: 200%;
  background-repeat: no-repeat;
  animation: bganimation 15s infinite;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:200px;
   margin-left:1rem;
}
   
input {
  margin-bottom: 16px;
  outline: none;
}
    
.container {
  background-image: radial-gradient(#b18cfe, #4d22b2);
  height: 300px;
  width: 350px;
  border: black 1.5px solid;
  border-radius: 5%;
  box-shadow: 8px 8px 50px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
    
  #submit {
  outline: none;
  color: black;
  height: 31px;
  width: 90px;;
  border-radius: 20px;
  border-style: none;
  background-color: yellow;
  font-weight: 550;
  }
    
   #submit:hover {
    transition: 1s;
    font-weight: 550;
    background-color: red;
    border: 2px solid yellow;
    color: white;
  }
    
  #enter {
  color: black;
  height: 32px;
  width: 250px;
  text-align: center;
  font-size: small;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-style: none;
  background-color: yellow;
  }
    
  #enter:hover {
  transition: 0.4s;
  background-color: pink;
  }
    
  a {
  font-weight: 500;
  font-family: Menlo, monospace;
  font-size: 105%;
  text-decoration: none;
  color: black;
  }
    
  a:hover {
  text-decoration: underline;
   }
    
  a:first-child {
  margin-right: 28px;
  }
   
  @keyframes bganimation {
    0% {
    background-position: 0% 25%;
   }
    25% {
      background-position: 50% 25%
        }
     50% {
    background-position: 100% 50%;
     }
    100% {
  background-position: 0% 25%;
    }
  }
