body {
  font-family: Menlo, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:200px;
  margin-left:1rem;
  background-image: linear-gradient(45deg, #ffccff, #ab00b7, #7f22ff);
  background-size: 200%;
  background-repeat: no-repeat;
  animation: bganimation 15s infinite;
  min-height: 100vh;
}

  @keyframes bganimation {
    0% {
    background-position: 0% 25%;
   }
    25% {
      background-position: 50% 25%
        }
     50% {
    background-position: 100% 50%;
     }
    100% {
  background-position: 0% 25%;
    }
  }

#container {
  background-image: linear-gradient(#0ff, #7223ce);
  height: 300px;
  width: 350px;
  border: black 1.5px solid;
  border-radius: 5%;
  box-shadow: 8px 8px 50px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

#typing {
  width: 0ch;
	color: #735fff;
	float: left;
	font-family: monospace;
	font-weight: normal;
	font-size: 2.5rem;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 5s steps(16) 1s infinite alternate;
}

#typing span {
  color:#ff47ff;
}

#crow {
  float: left;
  color: #735fff;
  font-family: monospace;
	font-weight: bold;
	font-size: 30px;
	animation: crow 0.5s linear 0s infinite;
}
@keyframes typing {
  from {
	  width: 0ch;
}
  to {
    width: 14ch;
	}
}
@keyframes crow {
  from {
		opacity: 0;
  }
  to {
		opacity: 1;
  }
}

li {
  list-style-type: none;
}

  a {
  font-weight: 500;
  font-family: Menlo, monospace;
  font-size: 105%;
  text-decoration: none;
  color: #0ff;
  }
    
  a:hover {
  text-decoration-line: underline;
	  text-decoration-thickness: .5rem;
   }
    
  a:first-child {
  margin-right: 28px;
  }
